PORT=8080
MAX_CHUNK_BYTES=10485760 # 10 MiB - maximum size of a single chunk to be uploaded; enforced by your reverse proxy (or something like cloudflare)
MAX_CACHED_BYTES=104857600 # 100 MiB - maximum size of memory a share can take up; should be something like 0.01x your total RAM if you want to allow up to 100 shares at once
ENV=dev # 'production', or anything else for debug